<!-- <div class="alert alert-secondary">
  <p>First Name: {{oneStud.Fname}}</p>
  <p>Last Name: {{oneStud.Lname}}</p>
  <p>Email: {{oneStud.email}}</p>
  <a class="m-3" routerLink="/students/{{oneStud.id}}">Student Details</a>
  <a class="m-3" routerLink="/update/{{oneStud.id}}">Update</a>
  <a class="m-3" routerLink="/students/{{oneStud.id}}">Delete</a>
  <p>Address: {{oneStud.address.street}}, {{oneStud.address.city}}</p>
  <p>Phone: {{oneStud.phone}}</p>
</div> -->
    <tr>
      <td>{{oneStud.Fname}}</td>
      <td>{{oneStud.Lname}}</td>
      <td>{{oneStud.email}}</td>
      <td><a class="m-3" routerLink="/students/{{oneStud.id}}">Student Details</a></td>
      <td><a class="m-3" routerLink="/update/{{oneStud.id}}">Update</a></td>
      <td><a class="m-3" routerLink="/students/{{oneStud.id}}">Delete</a></td>
    </tr>
