<nav class="navbar navbar-expand-lg bg-body-tertiary bg-info border rounded-2">
  <div class="container-fluid bg-info fs-5">
    <a class="navbar-brand  bg-info fs-3" routerLink="/">Form</a>
    <button class="navbar-toggler bg-info" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon bg-info"></span>
    </button>
    <div class="collapse navbar-collapse bg-info" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 fw-bold bg-info">
        <li class="nav-item ">
          <a class="nav-link active bg-info" aria-current="page" routerLinkActive="text-secondary" routerLink="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active bg-info" routerLinkActive="text-secondary" routerLink="/profile">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active bg-info" routerLinkActive="text-secondary" routerLink="/users/5">Details</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active bg-info" routerLinkActive="text-secondary" routerLink="/a27aga">Error</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
